.vscode
Logs
Temp
/Library/Artifacts
/Library/BurstCache
/Library/PackageCache
/Library/ShaderCache
/Library/StateCache
/Library/ArtifactDB
/build
/Library/Bee
/Library/PlayModeViewStates
/Library/ScriptAssemblies
/Library/EditorOnlyScriptingSettings.json
/Library/SceneVisibilityState.asset
/Library/Search/transactions.db
/Library/SourceAssetDB
/Library/ilpp.pid
/UserSettings/Layouts/default-2022.dwlt
/Library/EditorInstance.json